* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

h2 {
	color: blue;
}

.section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.container {
	padding: 2px;
	margin: 5px 10px;
	width: 40%;
}

.header {
	padding: 5px;
	margin: 5px;
}

.common-div-style {
	width: 100%;
	height: 75px;
	border: grey solid 2px;
	background: #ccffff;
	text-align: center;
}

.common-text-style {
	font-family: Helvetica;
	color: #2c4060;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.div1:hover {
	opacity: 0.2;
}

.div2 {
	transition: width 5s, background 5s, font 5s;
}

.div2:hover {
	width: 40%;
	background: #66c2ff;
	font: black 35px; 
}

.div3 {
	background-image: linear-gradient(#e6fff9,#80ffdf,#1affc6,#00b386);
}

.div4 {
	background-image: radial-gradient(#e6fff9,#80ffdf,#1affc6,#00b386);
}

.div5 {
	border-radius: 12px;
}

.div6 {
	border-image: url('.......[path]...../images/border.png') 2 stretch; 
}

.div7 {
	text-shadow: 2px 2px grey;
}

.div8 {
	background-color: #ffffb3;
	box-shadow: 5px 5px;
}

.vertical {
	writing-mode: vertical-rl;
}

.div10 {
	column-count: 3;
	column-gap: 5px;
	column-rule-style: dashed;
}

.div11, .div12 {
	height: 100px;
}

#original, 
#transformed,
#original3D, 
#transformed3D {
	width: 35%;
	height: 35px;
	background-color: #ffccff;
	border: 2px dashed #6666ff;
	padding: 2px;
	margin: 2px;
}

#transformed {
   transform: translate(60px,5px); 
}

#transformed3D {
	transform: rotateX(160deg);
}