/* Rule for whole page */
* {
	box-sizing: border-box;
}

/* Rule for body part */
body {
	padding: 0;
	margin: 0;
}

/* Rule for Header part */
.header {
	padding: 5px;
	margin-left: 5px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid grey;
	background: #d1e0e0;
	width: 100%;
	z-index: 1;
}

/* Rules for Section part */
.section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 50px;
}

.container {
	padding: 2px;
	margin: 5px 10px;
	width: 40%;
}

.common-button-style {
	width: 200px;
	height: 25px;
	border-radius: 10px;
	border: 2px solid grey;
	background-color: #d1e0e0;
	margin-top: 10px;
}

.common-button-style:hover {
	cursor: pointer;
}

.common-div-style {
	width: 100%;
	height: 75px;
	border: grey solid 2px;
	background: #ccffff;
	text-align: center;
}

.common-text-style {
	font-family: Helvetica;
	color: #2c4060;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.div1:hover {
	opacity: 0.2;
}

.div2 {
	transition: width 5s, background 5s, font 5s;
}

.div2:hover {
	width: 40%;
	background: #66c2ff;
	font: 35px black; 
}

.div3 {
	background-image: linear-gradient(#e6fff9,#80ffdf,#1affc6,#00b386);
}

.div4 {
	background-image: radial-gradient(#e6fff9,#80ffdf,#1affc6,#00b386);
}

.div5 {
	border-radius: 12px;
}

.div6 {
	border-image: url('....[path]..../images/border.png') 2 stretch; 
}

.div7 {
	text-shadow: 2px 2px grey;
}

.div8 {
	background-color: #ffffb3;
	box-shadow: 5px 5px;
}

.vertical {
	writing-mode: vertical-rl;
}

.div10 {
	column-count: 3;
	column-gap: 5px;
	column-rule-style: dashed;
}

.div11, 
.div12 {
	height: 100px;
}

#original, 
#transformed,
#original3D, 
#transformed3D {
	width: 35%;
	height: 35px;
	background-color: #ffccff;
	border: 2px dashed #6666ff;
	padding: 2px;
	margin: 2px;
}

#transformed {
   transform: translate(60px,5px); 
}

#transformed3D {
	transform: rotateX(160deg);
}

/* Rules for Modal Box */
.modal-window {
	display: none;
	z-index: 1;
	border: 5px solid grey;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal-div {
	width: 60%;
	height: auto;
	position: relative;
	margin: auto;
	margin-top: 15%;
	padding: 10px;
	border: 5px solid #114351;
	background-color: #d1e0e0;
	overflow: auto;
	align-content: center;
}

.modal-content {
	text-align: center;
	float: left;
	margin: 20px 5px 5px 20px;
}

.close-button {
	float: right;
	margin: 5px;
	padding: 1px;
	color: #2c4060;
	font-size: 25px;
	font-weight: bold;
	border: 1px solid grey;
}

.close-button:hover {
	cursor: pointer;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}